body {
    margin: 0;
    font-family: 'Open-Sans', sans-serif;
    color: rgb(44, 41, 44);
    background: rgb(245, 249, 254);
}

#main-header {
    background: rgb(63, 147, 251);
    background: radial-gradient(circle, rgba(63, 147, 251, 1) 0%, rgba(163, 70, 252, 1) 100%);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}

#main-header p span {
    font-family: inherit;
    font-weight: 700;
    color: rgb(197, 246, 255);
}

.btn {
    font: inherit;
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #2C42BF;
    border: 1px solid #2E56A6;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: #2C42BF;
}

.btn:hover {
    background-color: #2e30a6;
    border-color: #2e30a6;
}

.btn-alt:hover {
    background-color: #dfd9ff;
    border-color: transparent;
}